.navbar-collapse.collapse.in {
    display: block !important;
}

.show_container__custom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
}

.show_container__custom img {
    max-width: 100%;
}

.item-color {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(250, 128, 114);
    right: 5%;
    top: 1.2rem;
}
.th__images > th {
    padding: 0 !important;
    vertical-align: middle;
}
.th__images > th > img {
    max-width: 100%;
    width: 100%;
    max-width: 100px;
}

/* CHARTS */
.chart-container {
    width: 100%;
    height: 85vh;
    min-height: 300px;
    margin-bottom: 50px;
}
