.navbar-collapse.collapse.in {
    display: block !important;
}
.table__custom {
    border-collapse: collapse;
    margin: 15px auto;
}

.table__custom th,
.table__custom td {
    text-align: center;
    vertical-align: center;
    padding: 7px 12px;
}
.table__custom th {
    background-color: rgba(0, 0, 0, 0.13);
}
.table__custom tr:nth-child(even) > td {
    background-color: rgba(0, 0, 0, 0.06);
}

.show_container__custom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
}

.show_container__custom img {
    max-width: 100%;
}

.item-color {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(250, 128, 114);
    right: 5%;
    top: 1.2rem;
}

.custom__center {
}
